@import "../../theme/colors.module.scss";

html, body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: $main_background;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
