/*
*   BASIC COLORS
*/

$black: #000;
$gray: #9d9d9d;

$main_background: #f1e4df;
$background_light: #fcefea;

/*
*   PRIORITIES COLORS 
*/
$low_priority: #0ea492;
$normal_priority: #ffb800;
$high_priority: #ff5c00;
